body {
	background-image: url("http://i.pinimg.com/originals/2a/69/a6/2a69a6e9172ee59fb1c4c402ecba0e04.jpg");
	background-size: 100% 100%;
}

header {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

form {
	margin-top: 10%;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.container {
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 2% auto;
	background-color: rgba(255,255,0,0.5);
}

p {
	margin-top: 3px;
	margin-bottom: 3px;
}

#sprite_1 {
	height: 70%;
	width: 70%;
	display: inline-block;
}

.interact {
	margin: 5px;
}

#timer {
	text-align: center;
	clear: both;
	display: hide;
}